.header{
	font-size: 0.8em;
	display: flex;
	margin: 0px;
	justify-content: space-between;
}
.menu li{
	padding-left: 10px;
	display: inline;
	list-style-type: none;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu li:hover{
	background-color: #04B404;
}
.article_1{
	background-image:url(imagenes/estidiando.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 23em;
}
.section_menu{
	background-color: #088A08;
	display: flex;
	padding: 5em;
	text-align:  center;
	padding-left: 400px;

}
.div_menu li{
	position: relative;
	list-style-type: none;
	padding-right: 60px;
}
.div_menu i{
	border-radius: 400px;
	color:white;
	padding-right: 60px;
	height: 80px;
}
.div_menu a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.titulo_article_2{
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 80px;
}
.contenedor{
	display: flex;
	border: solid white;
	padding-bottom: 150px;
}
.item{
	width: 403px;
	padding:20px;
	text-align: center;
}
.item:first-child{
	width: 403px;
}
.item:last-child{
	width: 403px;
}
.boton{
	padding-top: 20px;
}
.boton a{
	border-radius: 20px;
	color: white;
	text-decoration: none;
	background-color: #088A08;
	padding: 5px 20px;
}
.porque_elegir h1{
	text-transform: uppercase;
	background-color: #088A08; 
	display: inline;
	color:white;
	position: relative;
	top: 90px;
	left: 50px;
}
.article_3{
	background-color: #088A08;
	display: inline-flex;
	text-align: left;
	padding: 10px;
	color: white;
}
.article_3 p{
	position: relative;
	top: 100px;
}
.imag_pareja{
	border-radius:100px;
}
.article_4 h1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 90px;
}
.docente{
	border-radius: 500px ;
	position: relative;
	left: 300px;
	padding-right: 100px; 
	padding-top: 50px;
	padding-bottom: : 100px;
}
.article_5{
	background-image:url(imagenes/cancha.JPG);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 37em;
}
.article_6{
	background-color: #088A08;
	display: flex;
	text-align: left;
	color: white;
}
.article_6 h1{
	text-transform: uppercase;
	text-align: center;
	padding: 50px;
}
.article_7{
	background-color: #2E2E2E;
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.article_7 img{
	height: 130px;
	position: relative;
	right: 500px;
	top: 90px;
}	
.article_7 i{
	position: relative;
	bottom: 15px;
	right: 90px;
	padding-top: 1px;
}
.article_7 a{
	text-decoration: none;
	color: white;
	position:relative;
	bottom: 90px;
	left: 400px;
	padding-top: 1px;
}
footer{
	background-color: #088A08;
	color:white;
	padding:0.5px; 
	padding-left: 50px;
}


